:root {
    --results-colums: var(--results-columns);
}

.ListOfGifs {
    column-count: var(--results-colums);
    column-gap: .5em;
    min-height: 100vh;
}

.ListOfGifs-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 600px) {
    :root {
        --results-columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4;
    }
}